---

version: 2

jobs:

  build:

    docker:
      - image: circleci/python:3.6.1

    working_directory: ~/$CIRCLE_PROJECT_REPONAME

    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true

      - run:
          name: Install Molecule dependencies
          command: |
            sudo pip install ansible==2.7.11
            sudo pip install molecule docker
      - run:
          name: Run Molecule Testing CircleCI-locally with Docker
          command: |
            pwd
            ls -la
            env
            molecule test
